body {
    font-family: "Oswald", sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    background: #fff;
}

.main-navbar {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 58px;
}
.main-navbar .logo {
    max-width: 40px;
}
.main-navbar .navbar {
    margin-left: auto;
    margin-right: 20px;
    list-style: none;
}
.main-navbar .navbar li {
    display: inline;
    padding: 5px;
}
.main-navbar .navbar li a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
}
.main-navbar .navbar li a:hover {
    font-size: 22px;
    text-decoration: underline;
}

#home {
    position: relative;
    height: calc(100vh - 58px);
    background: url(https://picsum.photos/id/668/2000/1500) center;
    margin-top: 58px;
}
#home .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#home .title,
#home .subtitle {
    color: #fff;
}
#home .title {
    margin-top: 10%;
    font-size: 72px;
}

#about {
    position: relative;
    height: 100vh;
    background: #000;
}
#about .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding-top: 5%;
    flex-direction: column;
}
#about .story {
    display: flex;
    flex-direction: row;
}
#about .story .text {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    color: #fff;
}
#about .story .right {
    margin-left: auto;
}
#about .numbers {
    background: url(https://picsum.photos/id/855/2000/1500) right bottom;
    display: flex;
    flex-direction: column;
    min-height: 370px;
}
#about .numbers h1 {
    margin-left: auto;
    margin-right: auto;
}
#about .blocks {
    display: flex;
    flex-direction: row;
}
#about .blocks .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
#about .blocks .block strong {
    font-size: 84px;
}

blockquote {
    border-left: 0.7rem solid #edb500;
    border-left-color: #edb500;
    margin: 1.5em 0.7rem;
    padding: 0.5em 0.7rem;
}

#portfolio {
    position: relative;
    height: 100vh;
    background: black;
    color: #fff;
}
#portfolio .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .wrapper .portfolio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#portfolio .wrapper .portfolio-row .portfolio-item {
    flex-grow: 1;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2%;
}
#portfolio .wrapper .portfolio-row .portfolio-item .project-title {
    margin-top: 1%;
}
#portfolio .wrapper .portfolio-row .portfolio-item img {
    width: 100%;
}

#contact {
    position: relative;
    height: calc(100vh - 75px);
    background: url(https://picsum.photos/id/1/2000/1500?grayscale) center;
}
#contact .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
}
#contact .contact-form {
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
}
#contact .contact-form .form-input {
    text-align: right;
}
#contact .contact-form .form-input button {
    font-size: 1.3em;
    background: #edb500;
    color: #fff;
    border: none;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#contact .contact-form .form-input button:hover {
    background: #fff;
    color: #edb500;
    border: none;
}
#contact .contact-form .form-input input,
#contact .contact-form .form-input textarea {
    width: 100%;
    font-size: 1.6em;
}
#contact .contact-form .form-input label {
    float: left;
    font-size: 2em;
    font-weight: bolder;
}

footer {
    background: #000;
    color: #FFF;
}
footer a {
    color: #edb500;
}
footer a:hover {
    font-weight: bolder;
}
footer .social:hover {
    font-size: 1.2em;
}
footer .wrapper {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}
footer .wrapper .text {
    display: inline;
}
footer ul {
    margin-left: auto;
    list-style: none;
    display: inline-flex;
}
footer ul li {
    padding: 5px;
}

#login {
    position: relative;
    height: calc(100vh - 133px);
    margin-top: 58px;
}
#login .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#login .wrapper form {
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#categories,
#users {
    position: relative;
    height: calc(100vh - 133px);
    margin-top: 58px;
}
#categories .wrapper,
#users .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
#categories .wrapper #controls,
#users .wrapper #controls {
    width: 90%;
    margin-bottom: 10px;
}
#categories button:hover,
#users button:hover {
    cursor: pointer;
}

li.active a {
    font-size: 22px;
    text-decoration: underline;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 90%;
}
table tr {
    border-bottom: 1px solid #ccc;
}
table th,
table td {
    border-right: 1px solid #ccc;
    text-align: left;
}
table td {
    padding: 10px;
    font-size: 20px;
}
table td form {
    display: inline;
}
table td:nth-child(1),
table th:nth-child(1) {
    text-align: center;
}
table tr:nth-child(odd) td {
    background-color: #f2f2f2;
}
table tr:nth-child(even) td {
    background-color: #ffffff;
}

.tooltip {
    position: relative;
    /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-tooltip);
    /* here's the magic */
    position: absolute;
    /* vertically center */
    bottom: 50%;
    transform: translateX(-50%);
    /* move to right */
    left: 50%;
    margin-bottom: 25px;
    /* and add a small left margin */
    /* basic styles */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
    /* hide by default */
}

.tooltip:hover:before {
    display: block;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    position: relative;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}